body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
/*main container */
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
}
/* buttons styling */
button{
    padding: 10px 18px;
    text-align: center;
    border: none;
    display: inline-block;
    background-color: #EC4067;
    border-radius: 4px;
    color: white;
    margin-right: 14px;
}
/*active buttons diff style*/
button.active{
    padding: 8px 20px;
    border: solid 1px #EC4067;
    background-color: white;
    color: #EC4067;
    border-radius: 0px;
}
button.nav-active{
    padding: 8px 20px;
    margin-left: 52px;
    margin-top: 0px;
}
/* adds drop shadow */
button.dropshadow{
    box-shadow: 0px 11px 18px #ec40683f;
}
/* links */
a{
    text-decoration: none;
    color: #EC4067;
}
#logo{
    width: 200px;
    display: inline-block;
    margin-left: 40px;
}
.first{
    color: #EC4067;
}
.second{
    color:black;
}
nav li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1px 16px;
    text-align: center;
    border-radius: 4px;
    

}
/* nav bar layout */
nav{
    display: inline-flex;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    
    
}
nav li{
    display: inline-block;

    
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-top: 3px;
}
/* first section style */ 
#moringa{
    margin: 0px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    height: 250px;
    }
#moringa img{
    width: 300px;
    float: right;
    
}
/*sutitle*/
#moringa p:nth-child(2){
    color: black;
    font-weight: 600;
    margin-bottom: 0px;
}
/* */
#moringa p:nth-child(4){
    color: #000000;
    margin-top: 0px;
    padding-top: 2px;
}
#moringa h2{
    font-weight:lighter;
    font-size:xx-large;
    color: #EC4067;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*stories section */
.stories{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
   

}
/*adds half backgound color*/
.stories h2:nth-child(1){
    display: inline-block;
    margin-right: 8px;
    font-weight: 300;
    background:linear-gradient(to right, rgba(228, 227, 227, 0.63) 65% , white 35%);
   
}
#orientation {
  height: 300px;
  margin-top: 20px;
  

    
}
#orientation h2{
  margin-bottom: 0px;

    
}
#orientation img{
    width: 400px;
    float: left;
    margin-right: 60px;
}
#board{
    margin-top: 40px;
    height: 300px;
    
   
}
#graduation{
    margin-top: 40px;
    height: 300px;
   
}
#board img{
    width: 400px;
    float: right;
    margin-left: 60px;
}
#graduation img{
    width: 400px;
    float: left;
    margin-right: 60px;
}
.teams{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    
}
.teams h2:nth-child(1){
    display: inline-block;
    margin-right: 8px;
    font-weight: 300;
    background:linear-gradient(to right, rgba(228, 227, 227, 0.63) 20% , white 50%);
}
.members{
    display:block;
    margin: 0 auto;
    column-count: 4;
    column-gap: 12px;
    padding-left: 40px;
    padding-right: 40px;
  
}
/*teams images dimention*/
.members img{
    display: inline-block;
    top: 0px;
    margin: 0px;
    width: 250px;
    height: 150px;
    margin-right: 12px;
} 
.members .tms{
    width: 220px;
    height: 320px;
    position: relative; 
}
/*caption names inside the image*/

.caption{
    position: absolute;
    z-index:999;
    top: 34%;
    text-align: center;
    color: rgba(255, 255, 255, 0.808);
    font-size: x-large;
    left: 6%;
}
.members p{
    font-size: smaller;
}
.members h3{
    font-size: small;
    color: #EC4067;
    margin-left: 10px;
}
.members p{
    margin-left: 10px;
    margin-right: 10px;
}
.members button{
    margin-left: 10px;
}
/* footer style*/
footer{
    height: 100px;
    width: 100%;
    background-color: rgba(216, 215, 215, 0.671);
    text-align: center;
    line-height: 100px;
    
}
/*alighns footer text*/
footer span{
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}
#enroll{

    margin: 0px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 0px;
    margin-top: 80px;
    font-size: 22px;
    margin-bottom: 80px;

}
#enroll h2{
    color: #EC4067;
    font-weight: lighter;
    font-size:xx-large;
    margin-bottom: 2px;

}
.project{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
}
.project h2:nth-child(1){
    display: inline-block;
    margin-right: 8px;
    font-weight: 300;
    background:linear-gradient(to right, rgba(228, 227, 227, 0.63) 65% , white 35%);
    margin-bottom: 0px;
}
#bike{
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
    padding: 10px;
}
#bike img{
    width: 550px;
    float: right;
}
#bike h4{
    margin-bottom: 0px;
}
#bike h2{
    font-weight:lighter;
    font-size:xx-large;
    color: #EC4067;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}