body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
}
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}
button{
    padding: 8px 16px;
    text-align: center;
    border: none;
    display: inline-block;
    background-color: #EC4067;
    border-radius: 4px;
    color: white;
    margin-right: 14px;
}
button.active{
    padding: 8px 16px;
    border: solid 1px #EC4067;
    background-color: white;
    color: #EC4067;
    border-radius: 0px;
}
#logo{
    width: 200px;
    display: inline-block;
    margin-left: 40px;
}
.first{
    color: #EC4067;
}
.second{
    color:black;
}
#navbar li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1px 16px;
    text-align: center;
    border-radius: 4px;
    

}
#navbar a.active{
    background-color: #EC4067;
    color: white;
    
}
#navbar{
    display: inline-flex;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    
    
}
#navbar li{
    display: block;

    
}
#navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#moringa{
    margin: 0px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    height: 250px;
    }
#moringa img{
    width: 300px;
    float: right;
    
}
#moringa p:nth-child(2){
    color: black;
    font-weight: 600;
    margin-bottom: 0px;
}
#moringa p:nth-child(4){
    color: #000000;
    margin-top: 0px;
    padding-top: 2px;
}
#moringa h2{
    font-weight:lighter;
    font-size:xx-large;
    color: #EC4067;
    margin-top: 0px;
    margin-bottom: 0px;
}
.stories{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
   

}
.stories h2:nth-child(1){
    display: inline-block;
    margin-right: 8px;
    font-weight: 300;
    background-color: rgb(202, 201, 201);
    background-size: 50% auto;
}
#orientation {
  height: 300px;
  margin-top: 20px;
  

    
}
#orientation h2{
  margin-bottom: 0px;

    
}
#orientation img{
    width: 400px;
    float: left;
    margin-right: 60px;
}
#board{
    margin-top: 40px;
    height: 300px;
    
   
}
#graduation{
    margin-top: 40px;
    height: 300px;
   
}
#board img{
    width: 400px;
    float: right;
    margin-left: 60px;
}
#graduation img{
    width: 400px;
    float: left;
    margin-right: 60px;
}
.teams{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.members{
    display: inline-flex;
}
.members img{
    position: relative;
    top: 0px;
    margin: 0px;
    width: 174px;


}
.members p{
    font-size: smaller;
}
.members h3{
    font-size: small;
    color: #EC4067;
    margin-left: 10px;
}
.members p{
    margin-left: 10px;
    margin-right: 10px;
}
.members button{
    margin-left: 10px;
}
.members .tms{
    width: 174px;
    margin: 16px;
    height: 320px;
    
}
footer{
    height: 100px;
    width: 100%;
    background-color: rgba(216, 215, 215, 0.671);
    text-align: center;
    line-height: 100px;
    
}
footer span{
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}
#enroll{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #000000;

}
.projects{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #000000;
}
#bike{
    margin: 0px;
    padding: 0px;
    margin-top: 80px;
    padding: 10px;
}
#bike img{
    width: 300px;
    float: right;
}
